################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Services/.vs/Services/v16
/Services/.vs/TheCarax/v16
